body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* height: 100%; */
}

html, body {
	min-height: 100vh;
	height: 100%;
}

div#root {
	height: 100%;
}

div#root > main {
	min-height: calc(100% - 155px);
	background-color: #fff;
}

a.MuiButton-root:hover {
	color: #fff;
}