.navbar {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    min-height: 53px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.navbar a {
    vertical-align: middle;
}

.navbar a:not(.btn):not(.dropdown-item) {
    color: #FFFFFF;
}

.navbar .navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 0.7142em;
    padding: 0.5rem 0.7rem;
    line-height: 1.625rem;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item .nav-link:focus,
.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link:active {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.1875rem;
}

.navbar .navbar-brand {
    text-transform: uppercase;
    font-size: 0.8571em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.625rem;
}

.navbar .navbar-toggler {
    width: 37px;
    height: 27px;
    outline: 0;
    cursor: pointer;
}

.navbar .navbar-toggler .navbar-toggler-bar.middle-bar {
    width: 17px;
    transition: width .2s linear;
}

.navbar .navbar-toggler:hover .navbar-toggler-bar.middle-bar {
    width: 22px;
}

.navbar.navbar-transparent {
    background-color: transparent !important;
    box-shadow: none;
    color: #FFFFFF;
    padding-top: 20px !important;
}

@media screen and (min-width: 992px) {
    .navbar-nav .nav-item:not(:last-child) {
        margin-right: 5px;
    }
}

.search-page .page-header:before {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
}

.page-header {
    min-height: 100vh;
    max-height: 999px;
    padding: 0;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
}

.page-header > .content {
    margin-top: 12%;
    text-align: center;
    margin-bottom: 50px;
}

.page-header.page-header-small {
    min-height: 60vh;
    max-height: 440px;
}

.page-header:before {
    background-color: rgba(0, 0, 0, 0.3);
}

.page-header > .container {
    z-index: 2;
    padding-top: 12vh;
    padding-bottom: 40px;
}

.page-header .page-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.page-header .content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
    padding: 0 15px;
    width: 100%;
    max-width: 880px;
}

.page-header footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.page-header .container {
    height: 100%;
    z-index: 1;
    text-align: center;
    position: relative;
}

.page-header .category,
.page-header .description {
    color: rgba(255, 255, 255, 0.8);
}

.page-header:after, .page-header:before {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.clear-filter:after, .clear-filter:before {
    display: none;
}

.clear-filter[filter-color="blue"] {
    background: rgba(44, 44, 44, 0.2);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(3, 161, 224, 0.6));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(3, 161, 224, 0.6));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(3, 161, 224, 0.6));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(3, 161, 224, 0.6));
    /* Standard syntax */ 
}

.btn-neutral {
    background-color: #FFFFFF;
    color: #f96332;
}

.btn-neutral:hover, .btn-neutral:focus, .btn-neutral:active:hover, .btn-neutral.active:hover,
.show > .btn-neutral.dropdown-toggle,
.show > .btn-neutral.dropdown-toggle:focus,
.show > .btn-neutral.dropdown-toggle:hover {
    background-color: #FFFFFF;
    color: #FFFFFF;
    box-shadow: none;
}

.btn-neutral:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}

.btn-neutral.btn-danger {
    color: #FF3636;
}

.btn-neutral.btn-danger:hover, .btn-neutral.btn-danger:focus, .btn-neutral.btn-danger:active {
    color: #ff5555 !important;
}

.btn-neutral.btn-primary {
    color: #f96332;
}

.btn-neutral.btn-primary:hover, .btn-neutral.btn-primary:focus, .btn-neutral.btn-primary:active {
    color: #fa7a50 !important;
}

.btn-neutral.btn-info {
    color: #2CA8FF
}

.btn-neutral.btn-info:hover, .btn-neutral.btn-info:focus, .btn-neutral.btn-info:active {
    color: #4bb5ff !important;
}

.btn-neutral.btn-warning {
    color: #FFB236
}

.btn-neutral.btn-warning:hover, .btn-neutral.btn-warning:focus, .btn-neutral.btn-warning:active {
    color: #ffbe55 !important;
}

.btn-neutral.btn-success {
    color: #18ce0f
}

.btn-neutral.btn-success:hover, .btn-neutral.btn-success:focus, .btn-neutral.btn-success:active {
    color: #1beb11 !important;
}

.btn-neutral.btn-default {
    color: #888888
}

.btn-neutral.btn-default:hover, .btn-neutral.btn-default:focus, .btn-neutral.btn-default:active {
    color: #979797 !important;
}

.btn-neutral:hover, .btn-neutral:focus, .btn-neutral:active:hover, .btn-neutral.active:hover,
.show > .btn-neutral.dropdown-toggle,
.show > .btn-neutral.dropdown-toggle:focus,
.show > .btn-neutral.dropdown-toggle:hover {
    background-color: #FFFFFF;
    color: #fa7a50;
    box-shadow: none;
}

.btn-neutral:hover, .btn-neutral:focus {
    color: #fa7a50 !important;
}

.btn-neutral:hover:not(.nav-link), .btn-neutral:focus:not(.nav-link) {
    box-shadow: none;
}
      
.btn-neutral.btn-simple {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.btn-neutral.btn-simple:hover, .btn-neutral.btn-simple:focus, .btn-neutral.btn-simple:active:hover, .btn-neutral.btn-simple.active:hover,
.show > .btn-neutral.btn-simple.dropdown-toggle,
.show > .btn-neutral.btn-simple.dropdown-toggle:focus,
.show > .btn-neutral.btn-simple.dropdown-toggle:hover {
    background-color: transparent;
    color: #FFFFFF;
    border-color: #FFFFFF;
    box-shadow: none;
}

      
.btn-neutral.btn-link {
    color: #FFFFFF;
}

.btn-neutral.btn-link:hover, .btn-neutral.btn-link:focus, .btn-neutral.btn-link:active:hover, .btn-neutral.btn-link.active:hover,
.show > .btn-neutral.btn-link.dropdown-toggle,
.show > .btn-neutral.btn-link.dropdown-toggle:focus,
.show > .btn-neutral.btn-link.dropdown-toggle:hover {
    background-color: transparent;
    color: #FFFFFF;
    text-decoration: none;
    box-shadow: none;
}
